* {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    color: #3882f6;
}

img {
    width: inherit;
}

html body {
    height: 100vh;
    min-width: 100vw;
    width: 100vw;
    font-family: "Roboto", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.common {
    padding-left: 100px;
    padding-right: 100px;
}

/* HEADER */

.header {
    background-color: #1F2937;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-family: "Sofia";
    color: #f9faf8;
    font-weight: 1000;
}

.links {
    font-size: 14px;
    display: flex;
    gap: 20px;
}

/* SUBHEADER */

.subheader {
    background-color: #1F2937;
    height: 400px;
    display: flex;
    gap: 50px;
}

.sub-left, .sub-right {
    color: #f9faf8;
    width: 50%;
    margin-top: 75px;
    margin-bottom: 75px;
}


.sub-txt-1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}

.sub-txt-2 {
    color: #e5e7eb;
    margin-top: 10px;
}

.sub-right {
    background-color: #2b394d;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    padding: 4px 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

/* MAIN-1 */

.m1-main-text {
    color: #2b394d;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.m1-container {
    display: flex;
    justify-content: space-around;
}

.m1-img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 130px;
    height: 130px;
}

p.m1-image-text {
    color: #1f2937;
    width: 130px;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}

/* FOOTER */

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}